// COLORS 
$primary-blue: #084b6d;
$secondary-blue: #f4fcff;
$green: #f8fbf3;
$pink: #fff5f5;
$orange: #ffd698;
$pastel-blue: #d3f0f9;
$white: #fff;

// FONTS

// Font families
$headingFont: "Young Serif";
$bodyFont: "Jakarta Sans";

// Font sizes
$baseFontSize: 1rem;

